body{
  text-align: center;
  margin: 0;
}
nav a{
  text-decoration: none;
  color: white
}
nav{
  background-color: rgb(163,73, 164);
  text-align: right;
  font-size: 1.5em;
  padding: px 0px;
  width: 100%;
  position: fixed;
}
nav h1, nav ul{
  color: white;
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

nav h1{
  text-align: left;
  text-transform: uppercase;
  margin: 10pxs;
}

.destaque{
  color: rgb(163,73, 164);
  background-color: #fff;
  padding: 5px;
  width: 50px;
}

nav ul{
  margin: 0;
  padding: 0;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
section{
  font-size: 1.2em;
}

img{
  max-width: 100%;
  max-height: 100%;

}
.membro{
  display: inline-block;
  width: 33%;
  height: 300px;
}

.membro img{
  border-radius: 100%;

}
footer{
  height: 100px;
  background-color: rgb(163,73, 164);
  color: white;
}

@media(max-width: 750px){
  img, nav, footer, .membro{
    width: 45%;
    margin: 5px 2.5%;
  }
  }
  
  @media(max-width: 375px){
    img, nav, footer, .membro{
      width: 90%;
      margin: 5px 5%;
    }
    }