body{
  text-align: center;
  margin: 0;
}
nav{
  background-color: rgb(163,73, 164);
  text-align: right;
  font-size: 1.5em;
  padding: 10px 0px;
  width: 100%;
}


nav h1, nav ul{
  color: white;
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

nav h1{
  text-align: left;
  text-transform: uppercase;
}

.destaque{
  color: rgb(163,73, 164);
  background-color: #fff;
  padding: 5px;
  width: 50px;
}

nav ul{
  margin: 0;
  padding: 0;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

img{
  width: 100%;

}