body{
    text-align: center;
    margin: 0;
}
nav{
    background-color: blueviolet;
    text-align: right;
    font-size: 1.5em;
    padding: 10px 0px;
    width: 100%;
}

nav h3, nav ul{
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

nav h3{
    text-align: left;
}

nav ul{
    margin: 0;
    padding: 0;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

img{
    width: 100%;

}